.title{
    font-family: 'Overpass Mono', monospace;
    font-size: 48px;
    color: white;
    bottom: 670px;
    position: relative;
    z-index: 78;
}

.intro_head{
    font-family: 'Overpass Mono', monospace;
    color: #88796A;
    font-size: 48px;
}

.byline{
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 24px;
    position: relative;
    z-index: 78;
    bottom: 670px;
}

.introduction{
    font-family: 'Raleway', sans-serif;
    font-size:  20px;
    color: #FFFFFF;
}
#intro_content{
    position: relative;
    text-align: center;
    align-content: center;
    height: 1050px;
}

#intro_full{
    text-align:start;
    margin-left: 100px;
    margin-right: 100px;
    bottom: 50px;
}